.is-center {
  text-align: center;
}

.rounded {
  border:5px solid #;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50;
  border-radius: 50px;
}


.skills > img {
    height: 65px;
    margin: 1.5rem 0.75rem 0 0.75rem;
}

.contacts > img {
    height: 75px;
    margin: 1.5rem 0.75rem 0 0.75rem;
}

p {
font-family: 'Didact Gothic', sans-serif;
}

/*this is for the hovering of the recent projects */
.image-swap {
   width: 200px;
   height: 200px;
   background-image: url("http://i.imgur.com/eZDnq6L.png");
   background-position: 0 0;
}
 
.image-swap:hover {
  background-image: url("http://i.imgur.com/ncBgmxg.png");
background-position: 0 100%;
}


/*project hoveing
*/
.project {
    position: relative;
}

.project img {
/*    border-radius: 100%;
*/    overflow: hidden;
    margin: 0 auto;
/*    width: 90%;
*/}

.hover {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.hover:hover, .project:hover a {
    opacity: 1;
}

.project:hover a + .hover {
    opacity: 1;
}

.project a {
    background-color: white;
    display: block;
font-family: 'Didact Gothic', sans-serif;
    color: #434343;
    border: none;
    position: absolute;
    bottom: 50%;
    left: 30%;
    width: 40%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 5;
    text-decoration: none;
}

.project a:hover {
    background-color: #aa1e22;
    color: white;
    transition: background-color 0.2s;
    transition: color 0.2s;
}