.is-center {
  text-align: center;
}

.rounded {
  border:5px solid #;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50;
  border-radius: 50px;
}


.skills > img {
    height: 65px;
    margin: 1.5rem 0.75rem 0 0.75rem;
}

.contacts > img {
    height: 75px;
    margin: 1.5rem 0.75rem 0 0.75rem;
}


/*this is for the hovering of the recent projects */
.image-swap {
   width: 200px;
   height: 200px;
   background-image: url("http://i.imgur.com/eZDnq6L.png");
   background-position: 0 0;
}
 
.image-swap:hover {
  background-image: url("http://i.imgur.com/ncBgmxg.png");
background-position: 0 100%;
}